body{background-color: #f3f2f5;margin-bottom: 80px;}
.mg_bot5{margin-bottom: 5px;}
.hasbotborder{border-bottom: 1px solid #dbdbdb;}
.acc_title{text-align: center;height: 45px;line-height: 45px;}
.acc_detail .acc_detail_content{padding: 18px 7%;text-align: center;}
.acc_state{position: relative;padding: 19px 5%;border-top:1px solid #dbdbdb;}
.acc_state .acc_state_pic{width: 24%;float: left;}
.acc_state .acc_state_pic img{width: 100%;}
.acc_state .acc_passornot{width: 70%; float: left; padding: 0 3%;}
.acc_state .acc_passornot .acc_passornot_title{width: 80%;line-height: 32px;}
.acc_state .acc_passornot .acc_passornot_state{ position: absolute; bottom: 19px;width: 40%;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.acc_redit{width: 18px; position: absolute; right: 7%; top: 50%;}
.acc_redit img{width: 100%;}

.acc_sku_good{margin-bottom: 25px;}
.acc_sku_detail_one{border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;}
.acc_sku_input{width: 93%;float: right;}
.acc_sku_input_box{width: 50%;float: left;padding: 15px 0px;}
.acc_sku_input_box input{width: 40%; padding: 0 7px;}

.acc_confirm_btn{width: 100%; position: fixed; bottom: 0; z-index: 25;}
.acc_confirm_btn .tips{background-color: #fffbf1;text-align: center;padding: 5px 0;border-top: 1px solid #ac9456;color: #282828;}
.acc_confirm_btn .confirm_btn{text-align: center;padding: 15px 0;}