<ion-content>
    <div class="c-nav-banner">
        <img src="img/top_head_home.jpg" vipalt="false">
    </div>
    <div class="c-nav-btn-zone row">
        <div class="col c-nav-btn-box" ng-click="gounite()">
            <div class="c-nav-btn">
                <div class="c-img-container c-img-goform"></div>
                <p>我要报障&#47;咨询</p>
            </div>
        </div>
        <div class="col c-nav-btn-box" ng-click="historyList()">
            <div class="c-nav-btn">
                <div class="c-img-container c-img-history"></div>
                <p>进度查询</p>
            </div>
        </div>
    </div>
</ion-content>