<ion-modal-view>
	<ion-header-bar class="bar-vipshop item-input-inset" >
		<h1 class="title">选择影响范围</h1>
		<button class="button button-vipshop" ng-click="effectareamodal.hide()">取消</button>
	</ion-header-bar>
	<ion-content>
		<ion-radio ng-repeat="effectarea in effectAreas" ng-value="effectarea" ng-model="param.effectarea" ng-click="returnEffectArea(param)">
			{{ effectarea.AreaName }}
		</ion-radio>
		<label class="item item-text-wrap" ng-show="isShowNoEffectArea">
				<div class="item-content">
					<span>{{effectareamessage}}</span>
				</div>
			</label>
				<!--<div class="padding">
			<button class="button button-block button-positive" ng-click="returnTo(param)">
				确定
			</button>
		</div>-->
	</ion-content>
</ion-modal-view>
