body, h1, h2, h3, h4, h5, p, dl, dd, ul, ol, form, input, textarea, th, td, select { margin: 0; padding: 0; }
a{ text-decoration: none; }
li { list-style: none; }
em { font-style: normal; }
img { border: none; vertical-align: top; }
input,button:focus{ outline: none; }
button{ border:none; }
body{ font-family: "Microsoft YaHei" Light; font-size: 15px;}
/* 修复移动端点击时背景发灰bug */
*{ outline: 0; -webkit-tap-highlight-color: rgba(0,0,0,0) }
.clear{zoom:1}{clear:both;}
.clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.mg_t15{margin-top: 15px;}
.fs_12{font-size: 12px;}
.fs-16{font-size: 16px;}
.fc-w{color: #fff;}
.fc-b{color: #191b0d;}
.fc-w-c{color: #fff;cursor: pointer;}
.codesend{height: 27px; margin-left: 20px;margin-top: 10px;}
.oneline{background-color: #fff;height: 40px; line-height: 40px;border-radius: 5px;  padding-left: 10px;position: relative;}
.colorstar{color: #e24146;font-size: 12px;}
.glod_col{color: #ac9456;}
.red_col{color:#E10601;}
.glod_col{color: #ac9456;}
.gruadarticle{cursor: pointer;}
.phone_pic{width: 35.9%; margin: 70px auto 35px;}
.phone_pic img{width: 100%;}
.noticewords{width: 190px; margin: 0 auto;}
.nopasswords{width: 240px; margin: 0 auto;}
.bigtitle{color: #333;font-size: 24px;margin-bottom: 35px;}
.bigtitle02{margin: 10px 0;}
.article_col{color: #808080;}
.webaddress{text-decoration: underline;}
/*隐藏元素类*/
.fileinput{display: none;}
