/*! 
* all stylesheet
* guichu.zou
* T00005162@vipshop.com
*/
::-webkit-input-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

html {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei"; }

body {
  background: url("../images/bg.jpg") no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333333;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/bg.jpg", sizingMethod="scale"); }

ul,
p {
  padding: 0;
  margin: 0; }

li {
  list-style-type: none; }

.fl-l {
  float: left; }

.fl-r {
  float: right; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.ds-n {
  display: none !important; }

.mgl10 {
  margin-left: 10px; }

.aside .highlight {
  color: #1aa2f5; }

.css-itemlist .highlight {
  background-color: #fff60d; }

.select2-container--default .select2-selection--single {
  border-radius: 20px;
  height: 40px;
  padding: 5px 23px;
  border: 1px solid #fff;
  background-color: #3fa2fb;
  color: #fff; }

.select2-container--default .select2-selection--single:focus {
  outline: none; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  padding-left: 18px; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 7px;
  right: 20px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
  border-width: 7px 8px 0 8px; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  background-color: #fff; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single .select2-selection__rendered {
  color: #3fa2fb !important; }

.select2-container--open .select2-dropdown--below {
  box-shadow: 0 5px 31px -11px #30acf3;
  -ms-box-shadow: 0 5px 31px -11px #30acf3;
  -webkit-box-shadow: 0 5px 31px -11px #30acf3;
  -moz-box-shadow: 0 5px 31px -11px #30acf3;
  -o-box-shadow: 0 5px 31px -11px #30acf3;
  border: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  color: #3fa2fb; }

.select2-results__option[aria-selected] {
  padding: 10px 24px; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #3fa2fb transparent;
  border-width: 0 8px 7px 8px; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #3fa2fb; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 300px; }

.header {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px; }
  .header .logo {
    width: 200px;
    margin-left: 30px;
    color: #fff; }
    .header .logo .page-title {
      margin: 0;
      font-size: 32px; }
    .header .logo .page-subtitle {
      margin-top: 7px;
      font-size: 16px;
      opacity: .7; }
  .header .search-container .css-select2-container {
    position: relative; }
    .header .search-container .css-select2-container .page-icon {
      position: absolute;
      left: 14px;
      width: 22px;
      height: 22px;
      top: 9px; }
      .header .search-container .css-select2-container .page-icon img {
        width: 100%; }
  .header .search-container .search-input-box {
    border-radius: 25px;
    padding: 9px 23px 9px 43px;
    border: 1px solid #fff; }
    .header .search-container .search-input-box .search-input {
      width: 112px;
      background-color: #3fa2fb;
      color: #fff;
      border: none;
      height: 18px; }
    .header .search-container .search-input-box .search-input:focus {
      outline: none; }
  .header .search-container .search-btn-box .search-btn {
    width: 140px;
    border-radius: 25px;
    padding: 10px 0;
    border: 1px solid #fff;
    background-color: #fff;
    color: #3fa2fb;
    cursor: pointer; }
  .header .search-container .search-btn-box .search-btn.w80 {
    width: 80px; }
  .header .search-container .search-btn-box .search-btn:active {
    background-color: #3fa2fb;
    color: #fff; }
  .header .search-container .search-btn-box .search-btn:focus {
    outline: none; }

.wrapper {
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 0 40px -12px #30acf3;
  -ms-box-shadow: 0 0 40px -12px #30acf3;
  -webkit-box-shadow: 0 0 40px -12px #30acf3;
  -moz-box-shadow: 0 0 40px -12px #30acf3;
  -o-box-shadow: 0 0 40px -12px #30acf3;
  max-width: 1200px;
  overflow: hidden;
  height: 80%;
  margin: 20px auto;
  background-color: #fff; }
  .wrapper .aside-container {
    position: relative;
    width: 25%;
    box-shadow: -22px 0 60px 0px #30acf3;
    -ms-box-shadow: -22px 0 60px 0px #30acf3;
    -webkit-box-shadow: -22px 0 60px 0px #30acf3;
    -moz-box-shadow: -22px 0 60px 0px #30acf3;
    -o-box-shadow: -22px 0 60px 0px #30acf3;
    border-right: 1px solid #e7f6ff; }
    .wrapper .aside-container .aside-datacontainer {
      color: #9b9b9b;
      position: absolute;
      left: 23px;
      top: 5px;
      font-size: 16px;
      margin-top: 30px; }
    .wrapper .aside-container .aside {
      margin-top: 30px;
      margin-bottom: 40px; }
      .wrapper .aside-container .aside li {
        padding: 10px 7%;
        margin-right: 4px;
        margin-bottom: 6px;
        cursor: pointer; }
      .wrapper .aside-container .aside li.msgactive {
        background-color: #f0faff;
        margin-right: 0;
        border-right: 4px solid #40b0f5; }
      .wrapper .aside-container .aside .avatar-container {
        width: 20%; }
        .wrapper .aside-container .aside .avatar-container .avatar {
          width: 40px;
          border-radius: 25px;
          height: 40px;
          overflow: hidden; }
          .wrapper .aside-container .aside .avatar-container .avatar img {
            width: 100%; }
      .wrapper .aside-container .aside .msg-info {
        width: 80%; }
        .wrapper .aside-container .aside .msg-info .msg-info-nametime .datetime {
          color: #9b9b9b; }
        .wrapper .aside-container .aside .msg-info .msg-info-personalsign {
          color: #9b9b9b;
          font-size: 14px;
          margin-top: 6px;
          word-break: break-all;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
  .wrapper .msg-content.css-noresult {
    width: 34%;
    margin-top: 20%;
    margin-right: 20%; }
    .wrapper .msg-content.css-noresult img {
      width: 100%; }
  .wrapper .msg-content {
    width: 73%;
    position: relative; }
    .wrapper .msg-content .css-backbtn {
      position: absolute;
      top: 30px;
      left: 23px;
      display: block;
      background-color: #dbf3ff;
      color: #1aa2f5;
      padding: 5px 20px;
      border-radius: 15px;
      cursor: pointer; }
      .wrapper .msg-content .css-backbtn .css-backarrow {
        width: 8px;
        margin-top: 2px;
        margin-right: 10px; }
        .wrapper .msg-content .css-backbtn .css-backarrow img {
          width: 100%; }
    .wrapper .msg-content .msg-item-datacontainer {
      color: #9b9b9b;
      position: absolute;
      left: 23px;
      top: 5px;
      font-size: 16px;
      margin-top: 30px; }
      .wrapper .msg-content .msg-item-datacontainer .css-item-keyword {
        color: #1aa2f5; }
    .wrapper .msg-content .msg-item-container {
      position: relative;
      margin: 30px 36px 33px 10px;
      padding-right: 42px;
      overflow-y: scroll; }
      .wrapper .msg-content .msg-item-container .css-itemlist .msg-item {
        padding: 10px 20px; }
        .wrapper .msg-content .msg-item-container .css-itemlist .msg-item .css-amrplay {
          border: none;
          background-color: #98e165;
          width: 70px;
          border-radius: 5px;
          margin-top: 10px;
          cursor: pointer; }
          .wrapper .msg-content .msg-item-container .css-itemlist .msg-item .css-amrplay img {
            margin-right: -4px; }
        .wrapper .msg-content .msg-item-container .css-itemlist .msg-item .item-nametime {
          font-size: 18px; }
          .wrapper .msg-content .msg-item-container .css-itemlist .msg-item .item-nametime .msg-name {
            color: #0092ec; }
          .wrapper .msg-content .msg-item-container .css-itemlist .msg-item .item-nametime .datetime {
            font-size: 16px;
            color: #9b9b9b; }
          .wrapper .msg-content .msg-item-container .css-itemlist .msg-item .item-nametime .css-seehistory {
            font-size: 16px;
            color: #1aa2f5;
            cursor: pointer; }
        .wrapper .msg-content .msg-item-container .css-itemlist .msg-item .item-content {
          font-size: 16px;
          color: #333;
          line-height: 20px;
          margin-top: 7px;
          word-wrap: break-word; }
        .wrapper .msg-content .msg-item-container .css-itemlist .msg-item .item-img-zone {
          width: 150px; }
          .wrapper .msg-content .msg-item-container .css-itemlist .msg-item .item-img-zone img {
            width: 100%; }
      .wrapper .msg-content .msg-item-container .css-itemlist .msg-item.itemactive {
        background-color: #f0faff; }
    .wrapper .msg-content .pagenum-container {
      width: 97%;
      text-align: center;
      color: #54c2ff;
      position: absolute;
      bottom: -18px; }
      .wrapper .msg-content .pagenum-container .pagenum {
        display: inline-block;
        margin: 0 7px;
        cursor: pointer; }

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  background-color: #000;
  opacity: 0.6;
  filter: alpha(opacity=60); }

.custom-search {
  position: fixed;
  z-index: 5;
  top: 0; }
  .custom-search .css-content {
    box-shadow: 0 0 40px -12px #30acf3;
    -ms-box-shadow: 0 0 40px -12px #30acf3;
    -webkit-box-shadow: 0 0 40px -12px #30acf3;
    -moz-box-shadow: 0 0 40px -12px #30acf3;
    -o-box-shadow: 0 0 40px -12px #30acf3;
    width: 360px;
    background-color: #fff;
    margin-left: -180px;
    margin-top: -180px;
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    padding: 20px;
    border-radius: 15px; }
    .custom-search .css-content .close-btn {
      position: absolute;
      right: 20px;
      cursor: pointer; }
    .custom-search .css-content .input-container {
      color: #333;
      padding-top: 25px;
      padding-bottom: 20px;
      text-align: center;
      font-size: 16px; }
      .custom-search .css-content .input-container p {
        margin-bottom: 20px; }
      .custom-search .css-content .input-container .el-input {
        color: #2fc4ff;
        padding: 15px; }
        .custom-search .css-content .input-container .el-input label {
          padding-right: 15px; }
        .custom-search .css-content .input-container .el-input input {
          cursor: pointer;
          background-color: #edf7fd;
          border: none;
          border-radius: 5px;
          padding: 7px 15px;
          color: #2fc4ff; }
        .custom-search .css-content .input-container .el-input input:focus {
          outline: none; }
    .custom-search .css-content .picktime-btn {
      box-shadow: 0 0 40px -12px #30acf3;
      -ms-box-shadow: 0 0 40px -12px #30acf3;
      -webkit-box-shadow: 0 0 40px -12px #30acf3;
      -moz-box-shadow: 0 0 40px -12px #30acf3;
      -o-box-shadow: 0 0 40px -12px #30acf3;
      cursor: pointer;
      position: absolute;
      left: 150px;
      margin: 0 auto;
      background-color: #2fc4ff;
      color: #fff;
      font-size: 23px;
      padding: 12px 30px;
      border-radius: 50px; }
