/*! 
* all stylesheet
* guichu.zou
* T00005162@vipshop.com
*/

//sass method
@mixin placeholder($color) {
     ::-webkit-input-placeholder {
        // WebKit browsers
        color: $color;
    }
     :-moz-placeholder {
        // Mozilla Firefox 4 to 18
        color: $color;
    }
     ::-moz-placeholder {
        // Mozilla Firefox 19+
        color: $color;
    }
     :-ms-input-placeholder {
        // Internet Explorer 10+
        color: $color;
    }
}

$col9b:#9b9b9b;
@mixin outerwidth {
    width: 90%;
}

@mixin elwidth($val) {
    width: $val;
}

@mixin bdradius($val) {
    border-radius: $val;
}

@mixin boxshadow($hs, $vs, $blur, $spread, $color:#30acf3) {
    box-shadow: $hs $vs $blur $spread $color;
    -ms-box-shadow: $hs $vs $blur $spread $color;
    -webkit-box-shadow: $hs $vs $blur $spread $color;
    -moz-box-shadow: $hs $vs $blur $spread $color;
    -o-box-shadow: $hs $vs $blur $spread $color;
}

@include placeholder(#fff);
html {
    width: 100%;
    height: 100%;
    font-family: "Microsoft YaHei";
}

body {
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333333;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/bg.jpg", sizingMethod="scale");
}

ul,
p {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.ds-n {
    display: none;
}

//cover style select2
.select2-container--default .select2-selection--single {
    @include bdradius(20px);
    height: 40px;
    padding: 5px 23px;
    border: 1px solid #fff;
    background-color: #50b4f8;
    color: #fff;
}

.select2-container--default .select2-selection--single:focus {
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
    right: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
    border-width: 7px 8px 0 8px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    background-color: #fff;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single .select2-selection__rendered {
    color: #50b4f8!important;
}

.select2-container--open .select2-dropdown--below {
    @include boxshadow(0,
    5px,
    31px,
    -11px,
    #30acf3);
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    color: #50b4f8;
}

.select2-results__option[aria-selected] {
    padding: 10px 24px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #50b4f8 transparent;
    border-width: 0 8px 7px 8px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #50b4f8;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 300px;
}

// page style
.header {
    @include outerwidth;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    .logo {
        @include elwidth(30%);
        color: #fff;
        .page-title {
            margin: 0;
            font-size: 32px;
        }
        .page-subtitle {
            margin-top: 7px;
            font-size: 16px;
        }
    }
    .search-container {
        // .css-select2-container {}
        .search-input-box {
            margin-left: 23px;
            position: relative;
            .search-input {
                @include elwidth(132px);
                @include bdradius(25px);
                padding: 10px 23px;
                background-color: #50b4f8;
                border: 1px solid #fff;
                color: #fff;
            }
            .search-input:focus {
                outline: none;
            }
            .search-icon {
                cursor: pointer;
                position: absolute;
                right: 17px;
                top: 11px;
                width: 19px;
                height: 19px;
                img {
                    width: 100%;
                }
            }
        }
    }
}

.wrapper {
    @include outerwidth;
    @include bdradius(20px);
    @include boxshadow(0,
    0,
    40px,
    -12px,
    #30acf3);
    max-width: 1200px;
    overflow: hidden;
    height: 80%;
    margin: 20px auto;
    background-color: #fff;
    .aside-container {
        @include elwidth(25%);
        @include boxshadow(-22px,
        0,
        60px,
        0px,
        #30acf3);
        border-right: 1px solid #e7f6ff;
        .aside {
            // height: 720px;
            margin-top: 30px;
            margin-bottom: 30px;
            li {
                padding: 9px 7%;
                cursor: pointer;
            }
            li.msgactive {
                background-color: #f0faff;
                border-right: 4px solid #40b0f5;
            }
            .avatar-container {
                @include elwidth(20%);
                .avatar {
                    @include elwidth(40px);
                    @include bdradius(25px);
                    height: 40px;
                    overflow: hidden;
                    img {
                        @include elwidth(100%);
                    }
                }
            }
            .msg-info {
                @include elwidth(80%);
                .msg-info-nametime {
                    .datetime {
                        color: $col9b;
                    }
                }
                .msg-info-personalsign {
                    color: $col9b;
                    font-size: 14px;
                    margin-top: 6px;
                    word-break: break-all;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .msg-content {
        @include elwidth(73%);
        position: relative;
        .msg-item-container {
            margin-top: 40px;
            margin-bottom: 33px;
            margin-right: 3%;
            padding: 0 4%;
            overflow-y: scroll;
            .css-noresult {
                @include elwidth(60%);
                margin: 20% auto;
                img {
                    @include elwidth(100%);
                }
            }
            .msg-item {
                .item-nametime {
                    .datetime {
                        color: $col9b;
                    }
                }
                .item-content {
                    font-size: 14px;
                    color: $col9b;
                    line-height: 20px;
                        margin-top: 5px;
    margin-bottom: 10px;
                }
            }
        }
        .pagenum-container {
            @include elwidth(97%);
            text-align: center;
            color: #50b4f8;
            position: absolute;
            bottom: -11px;
            .pagenum {
                display: inline-block;
                margin: 0 7px;
                cursor: pointer;
            }
        }
    }
}

.mask {
    @include elwidth(100%);
    height: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    filter:alpha(opacity=60);  
}

.custom-search {
    position: fixed;
    z-index: 5;
    top: 0;
    .css-content {
        @include boxshadow(0,
        0,
        40px,
        -12px,
        #30acf3);
        @include elwidth(360px);
        background-color: #fff;
        margin-left: -180px;
        margin-top: -180px;
        position: fixed;
        top: 50%;
        left: 50%;
        bottom: auto;
        right: auto;
        padding: 20px;
        border-radius: 15px;
        .close-btn {
            position: absolute;
            right: 20px;
            cursor: pointer;
        }
        .input-container {
            color: $col9b;
            padding-top: 25px;
            padding-bottom: 20px;
            text-align: center;
            font-size: 16px;
            p {
                margin-bottom: 20px;
            }
            .el-input {
                color: #2fc4ff;
                padding: 15px;
                label {
                    padding-right: 15px;
                }
                input {
                    cursor: pointer;
                    background-color: #edf7fd;
                    border: none;
                    border-radius: 5px;
                    padding: 7px 15px;
                    color: #2fc4ff;
                }
                input:focus {
                    outline: none;
                }
            }
        }
        .picktime-btn {
            @include boxshadow(0,
            0,
            40px,
            -12px,
            #30acf3);
            cursor: pointer;
            position: absolute;
            left: 130px;
            margin: 0 auto;
            background-color: #2fc4ff;
            color: #fff;
            font-size: 23px;
            padding: 12px 30px;
            border-radius: 50px;
        }
    }
}