/*! 
* all stylesheet
* guichu.zou
* T00005162@vipshop.com
*/

//sass method
@mixin placeholder($color) {
     ::-webkit-input-placeholder {
        // WebKit browsers
        color: $color;
    }
     :-moz-placeholder {
        // Mozilla Firefox 4 to 18
        color: $color;
    }
     ::-moz-placeholder {
        // Mozilla Firefox 19+
        color: $color;
    }
     :-ms-input-placeholder {
        // Internet Explorer 10+
        color: $color;
    }
}

$col9b:#9b9b9b;
$col33:#333;
@mixin outerwidth {
    width: 90%;
}

@mixin elwidth($val) {
    width: $val;
}

@mixin bdradius($val) {
    border-radius: $val;
}

@mixin boxshadow($hs, $vs, $blur, $spread, $color:#30acf3) {
    box-shadow: $hs $vs $blur $spread $color;
    -ms-box-shadow: $hs $vs $blur $spread $color;
    -webkit-box-shadow: $hs $vs $blur $spread $color;
    -moz-box-shadow: $hs $vs $blur $spread $color;
    -o-box-shadow: $hs $vs $blur $spread $color;
}

@include placeholder(#fff);
html {
    width: 100%;
    height: 100%;
    font-family: "Microsoft YaHei";
}

body {
    background: url("../images/bg.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333333;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/bg.jpg", sizingMethod="scale");
}

ul,
p {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.ds-n {
    display: none!important;
}

.mgl10 {
    margin-left: 10px;
}

//高亮样式
.aside .highlight {
    color: #1aa2f5;
}

.css-itemlist .highlight {
    background-color: #fff60d;
}

//cover style select2
.select2-container--default .select2-selection--single {
    @include bdradius(20px);
    height: 40px;
    padding: 5px 23px;
    border: 1px solid #fff;
    background-color: #3fa2fb;
    color: #fff;
}

.select2-container--default .select2-selection--single:focus {
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
    padding-left: 18px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
    right: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
    border-width: 7px 8px 0 8px;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    background-color: #fff;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single .select2-selection__rendered {
    color: #3fa2fb!important;
}

.select2-container--open .select2-dropdown--below {
    @include boxshadow(0,
    5px,
    31px,
    -11px,
    #30acf3);
    border: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    color: #3fa2fb;
}

.select2-results__option[aria-selected] {
    padding: 10px 24px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #3fa2fb transparent;
    border-width: 0 8px 7px 8px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #3fa2fb;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 300px;
}

// page style
.header {
    @include outerwidth;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    .logo {
        @include elwidth(200px);
        margin-left: 30px;
        color: #fff;
        .page-title {
            margin: 0;
            font-size: 32px;
        }
        .page-subtitle {
            margin-top: 7px;
            font-size: 16px;
            opacity: .7;
        }
    }
    .search-container {
        .css-select2-container {
            position: relative;
            .page-icon {
                position: absolute;
                left: 14px;
                width: 22px;
                height: 22px;
                top: 9px;
                img {
                    width: 100%;
                }
            }
        }
        .search-input-box {
            @include bdradius(25px);
            padding: 9px 23px 9px 43px;
            border: 1px solid #fff;
            .search-input {
                @include elwidth(112px);
                background-color: #3fa2fb;
                color: #fff;
                border: none;
                height: 18px;
            }
            .search-input:focus {
                outline: none;
            }
        }
        .search-btn-box {
            .search-btn {
                @include elwidth(140px);
                @include bdradius(25px);
                padding: 10px 0;
                border: 1px solid #fff;
                background-color: #fff;
                color: #3fa2fb;
                cursor: pointer;
            }
            .search-btn.w80 {
                @include elwidth(80px);
            }
            .search-btn:active {
                background-color: #3fa2fb;
                color: #fff;
            }
            .search-btn:focus {
                outline: none;
            }
        }
    }
}

.wrapper {
    @include outerwidth;
    @include bdradius(20px);
    @include boxshadow(0,
    0,
    40px,
    -12px,
    #30acf3);
    max-width: 1200px;
    overflow: hidden;
    height: 80%;
    margin: 20px auto;
    background-color: #fff;
    .aside-container {
        position: relative;
        @include elwidth(25%);
        @include boxshadow(-22px,
        0,
        60px,
        0px,
        #30acf3);
        border-right: 1px solid #e7f6ff;
        .aside-datacontainer {
            color: $col9b;
            position: absolute;
            left: 23px;
            top: 5px;
            font-size: 16px;
            margin-top: 30px;
        }
        .aside {
            // height: 720px;
            margin-top: 30px;
            margin-bottom: 40px;
            li {
                padding: 10px 7%;
                margin-right: 4px;
                margin-bottom: 6px;
                cursor: pointer;
            }
            li.msgactive {
                background-color: #f0faff;
                margin-right: 0;
                border-right: 4px solid #40b0f5;
            }
            .avatar-container {
                @include elwidth(20%);
                .avatar {
                    @include elwidth(40px);
                    @include bdradius(25px);
                    height: 40px;
                    overflow: hidden;
                    img {
                        @include elwidth(100%);
                    }
                }
            }
            .msg-info {
                @include elwidth(80%);
                .msg-info-nametime {
                    .datetime {
                        color: $col9b;
                    }
                }
                .msg-info-personalsign {
                    color: $col9b;
                    font-size: 14px;
                    margin-top: 6px;
                    word-break: break-all;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .msg-content.css-noresult {
        @include elwidth(34%);
        margin-top: 20%;
        margin-right: 20%;
        img {
            @include elwidth(100%);
        }
    }
    .msg-content {
        @include elwidth(73%);
        position: relative;
        .css-backbtn {
            position: absolute;
            top: 30px;
            left: 23px;
            display: block;
            background-color: #dbf3ff;
            color: #1aa2f5;
            padding: 5px 20px;
            border-radius: 15px;
            cursor: pointer;
            .css-backarrow {
                width: 8px;
                margin-top: 2px;
                margin-right: 10px;
                img {
                    width: 100%;
                }
            }
        }
        .msg-item-datacontainer {
            color: $col9b;
            position: absolute;
            left: 23px;
            top: 5px;
            font-size: 16px;
            margin-top: 30px;
            .css-item-keyword {
                color: #1aa2f5;
            }
        }
        .msg-item-container {
            position: relative;
            margin: 30px 36px 33px 10px;
            padding-right: 42px;
            overflow-y: scroll;
            .css-itemlist {
                .msg-item {
                    padding: 10px 20px;
                    .css-amrplay {
                        border: none;
                        background-color: #98e165;
                        width: 70px;
                        border-radius: 5px;
                        margin-top: 10px;
                        cursor: pointer;
                        img {
                            margin-right: -4px;
                        }
                    }
                    .item-nametime {
                        font-size: 18px;
                        .msg-name {
                            color: #0092ec;
                        }
                        .datetime {
                            font-size: 16px;
                            color: $col9b;
                        }
                        .css-seehistory {
                            font-size: 16px;
                            color: #1aa2f5;
                            cursor: pointer;
                        }
                    }
                    .item-content {
                        font-size: 16px;
                        color: $col33;
                        line-height: 20px;
                        margin-top: 7px;
                        word-wrap: break-word;
                    }
                    .item-img-zone {
                        width: 150px;
                        img {
                            width: 100%;
                        }
                    }
                }
                .msg-item.itemactive {
                    background-color: #f0faff;
                }
            }
        }
        .pagenum-container {
            @include elwidth(97%);
            text-align: center;
            color: #54c2ff;
            position: absolute;
            bottom: -18px;
            .pagenum {
                display: inline-block;
                margin: 0 7px;
                cursor: pointer;
            }
        }
    }
}

.mask {
    @include elwidth(100%);
    height: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.custom-search {
    position: fixed;
    z-index: 5;
    top: 0;
    .css-content {
        @include boxshadow(0,
        0,
        40px,
        -12px,
        #30acf3);
        @include elwidth(360px);
        background-color: #fff;
        margin-left: -180px;
        margin-top: -180px;
        position: fixed;
        top: 50%;
        left: 50%;
        bottom: auto;
        right: auto;
        padding: 20px;
        border-radius: 15px;
        .close-btn {
            position: absolute;
            right: 20px;
            cursor: pointer;
        }
        .input-container {
            color: $col33;
            padding-top: 25px;
            padding-bottom: 20px;
            text-align: center;
            font-size: 16px;
            p {
                margin-bottom: 20px;
            }
            .el-input {
                color: #2fc4ff;
                padding: 15px;
                label {
                    padding-right: 15px;
                }
                input {
                    cursor: pointer;
                    background-color: #edf7fd;
                    border: none;
                    border-radius: 5px;
                    padding: 7px 15px;
                    color: #2fc4ff;
                }
                input:focus {
                    outline: none;
                }
            }
        }
        .picktime-btn {
            @include boxshadow(0,
            0,
            40px,
            -12px,
            #30acf3);
            cursor: pointer;
            position: absolute;
            left: 150px;
            margin: 0 auto;
            background-color: #2fc4ff;
            color: #fff;
            font-size: 23px;
            padding: 12px 30px;
            border-radius: 50px;
        }
    }
}