<style type="text/css">
	.item button {
		color: #C0C0C0!important;
	}
    .backdrop{
    	opacity: 1;
    }

</style>

<ion-view>
	
	<ion-content >
		<div class="top-bar text-right bar-vipshop"><a class="tips" ui-sref="leavetips" >Tips</a></div>
		<form ng-cloak name="leaveform" novalidate>
			<label class="item item-input">
				<textarea placeholder="请输入请假事由( 50字以内 )" ng-maxlength="50" rows="3"  ng-model="formData.LeaveReason" required></textarea>
			</label>
			<div class="btn">
				<div class="row">
					<a ng-repeat="item in leaveType[0].menu" ng-click="selectLeaveType(item)" ng-show="item.show" class="button {{item.btnStyle}} col">{{item.name}}</a>
					<a ng-click="showMore()" ng-show="!isShowMore" class="button button-plain col">更多</a>
				</div>

				<div class="row">
					<a ng-repeat="item in leaveType[1].menu" ng-click="selectLeaveType(item)" ng-show="item.show" class="button {{item.btnStyle}} col">{{item.name}}</a>
				</div>

				<div class="row">
					<a ng-repeat="item in leaveType[2].menu" ng-click="selectLeaveType(item)" ng-show="item.show" class="button {{item.btnStyle}} col" ng-disabled="item.disabled">{{item.name}}</a>
				</div>
			</div>

			<div class="list">

				<label class="item item-input" ng-show="isShowMaryDate">
					<span class="input-label">结婚日期</span>
					<ionic-datepicker input-obj="datepickerObjectModalMarryDate" ng-readonly="true">
						<button name="txtMarryDate" class="button button-clear">{{datepickerObjectModalMarryDate.inputDate | date:datepickerObjectModalMarryDate.dateFormat}}</button>
					</ionic-datepicker>
				</label>

				<div class="item item-input ">
					<span class="text-right">开始日期</span>
					<div class="item-div-date">
						<ionic-datepicker input-obj="datepickerObjectModalBegin" ng-readonly="true">
							<button name="txtBeginDate" class="button button-clear">{{datepickerObjectModalBegin.inputDate | date:datepickerObjectModalBegin.dateFormat}}</button>
						</ionic-datepicker>
					</div>

					<span class="text-right">开始时间</span>
					<div class="item-div-time">
						<ionic-timepicker input-obj="timePickerObject24HourBegin" ng-readonly="true">
							<button class="button button-clear overflowShow">
								<standard-time-no-meridian etime='timePickerObject24HourBegin.inputEpochTime'></standard-time-meridian>
							</button>
						</ionic-timepicker>
					</div>
				</div>

				<div class="item item-input ">
					<span class="text-right">结束日期</span>
					<div class="item-div-date">
						<ionic-datepicker input-obj="datepickerObjectModalEnd" ng-readonly="true">
							<button name="txtBeginDate" class="button button-clear">{{datepickerObjectModalEnd.inputDate | date:datepickerObjectModalEnd.dateFormat}}</button>
						</ionic-datepicker>

					</div>
					<span class="text-center">结束时间</span>
					<div class="item-div-time">
						<ionic-timepicker input-obj="timePickerObject24HourEnd" ng-readonly="true">
							<button class="button button-clear overflowShow">
								<standard-time-no-meridian etime='timePickerObject24HourEnd.inputEpochTime'></standard-time-meridian>
							</button>
						</ionic-timepicker>
					</div>
				</div>

				<label class="item item-input">
					<span>共  {{formData.TotalDays}} 天  {{formData.TotalHours}} 时</span>
				</label>

				<label class="item item-input" ng-show="isShowMessage">
					<span style="font-size: 10px; color: red;word-break:normal; width:auto; display:block; white-space:pre-wrap;word-wrap : break-word ;overflow: hidden;">{{leaveTips}}</span>
				</label>

                <label class="item item-input" ng-show="isShowparentsMeeting">
					<span style="font-size: 10px; color: red;word-break:normal; width:auto; display:block; white-space:pre-wrap;word-wrap : break-word ;overflow: hidden;">{{parentsMeeting}}</span>
				</label>

				<div class="text-center padding hr">
					<div>假期工作交接</div>
				</div>

				<div ng-repeat="content in handOverContent">
					<label class="item item-input">
						<span class="input-label">交接人</span>
						<input type="text" ng-model="content.handOverName" ng-readonly="true" ng-click="openUserInfo(content)" placeholder="请填写工作代理人" ng-required="content.required">
					</label>
					<label class="item item-input">
						<textarea ng-model="content.handOverContent" placeholder="请填写交接事项（50字以内）" rows="3" ng-required="content.required"></textarea>
					</label>
					<div class="text-center hr"></div>
				</div>

				<div class="text-left" ng-show="isShowAddOverBtn">
					<a class="button button-clear ion-person-add padding-left" ng-click="addHandOverContent()">更多工作交接</a>
				</div>

                <div class="text-left ">
				<!-- ng-flow  -->
				<div flow-init flow-files-submitted="$flow.upload()" class="ng-scope div-upload div-upload-border">
					<div class="drop" flow-drop="" ng-class="dropClass">
						<span class="btn btn-default" flow-btn="">附件上传<input type="file" multiple="multiple" style="visibility: hidden; position: absolute;"></span>
						<!--<span class="label label-info ng-binding">文件总大小 : {{$flow.getSize()}} KB</span>-->
						<span class="label label-info ng-binding">文件总大小 : {{$flow.getSizeWithUnit()}}</span>
					</div>
                    
					<div>
						<!--<div ng-repeat="file in $flow.files" class="transfer-box"> <span name="uploadFiles">{{file.relativePath}}</span> ({{file.size}} KB)-->
						<div ng-repeat="file in $flow.files" class="transfer-box"> <span name="uploadFile" style="display:none;">{{file.fileGuid}}|{{file.nativeName}}</span>{{file.nativeName}} ({{file.sizeWithUnit}})
							<div class="progress progress-striped" ng-class="{active: file.isUploading()}" ng-show="!file.isComplete()">
								<div class="progress-bar" role="progressbar" aria-valuenow="{{file.progress() * 100}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}">
									<span class="sr-only">{{file.progress()}}% Complete</span> </div>
							</div>
							<div class="btn-group">
								<a class="ion-checkmark-circled upload-success" ng-show="!file.error&&file.isComplete()"></a>
								<a class="ion-close-circled upload-fail" ng-show="file.error"></a>
								<a class="badge badge-balanced" ng-click="file.pause()" ng-show="!file.paused && file.isUploading()"> 暂停 </a>
								<a class="badge badge-calm" ng-click="file.resume()" ng-show="file.paused"> 继续 </a>
								<a class="badge badge-assertive" ng-click="file.cancel()"> 取消 </a>
								<a class="badge badge-positive" ng-click="file.retry()" ng-show="file.error"> 重试 </a>
							</div>
                            
			                <div class="padding-left  item-divider ot-item-divider"  ng-show="file.sizeExceeded">
				                <div>【上传失败】附件大小不能超过10MB</div>
			                </div>
						</div>
					</div>
				</div>
			</div>

				<div class="list padding">
					<button type="submit" class="button button-block icon-center ion-android-checkmark-circle button-vipshop submit" ng-disabled="!leaveform.$valid" ng-click="startWorkFlow()">提交</button>
				</div>

		</form>
	</ion-content>
</ion-view>